.headerContainer {
    background-color: #ffffff;
    height: 50px;
    padding-top: 1%;
  }
  
  .headerContent {
    width: 8%;
    border-radius: 5px;
    margin-top: 0.5%;
    margin-left: 2%;
    padding-left: 0.4%;
    padding-right: 0.3%;
    display: flex;
    justify-content: space-between;
    border: 1px solid #eaebee;
    cursor: pointer;
  }
  
  .columns {
    justify-content: space-between;
    margin: 1% 1.4%;
    display: flex;
    width: 97%;
  }
  
  @media (max-width: 769px) {
    .columns {
      flex-direction: column;
      align-items: center;
    }
    .headerContent {
      width: 220px;
      margin-top: 2.5%;
    }
  }
  .footer {
    text-align: center;
    margin: 12px auto;
  }